*.exr,*.psd,*.pdd,*.psb,*.jp2,*.j2c,*.tx,*.gif,*.jpg,*.jpeg,*.tga,*.tif,*.tiff,*.bmp,*.png,*.dds,*.cin,*.dpx,*.hdr,*.webp,*.ttf,*.TTF,*.otf,*.aif,*.ogg,*.wav,*.aac,*.flac,*.oga,*.wma,*.rns,*.mp3,*.flv,*.mov,*.wmv,*.mpg,*.mpeg,*.avi,*.mp4,*.mkv,*.webm,*.FBX,*.fbx,*.blend,*.rar,*.zip,*.gz,*.7z,*.obj,*.3ds,*.gltf,*.glb,*.ply,*.vdb,*.nvdb,*.usd,*.usdz,*.usdc,*.pdf filter=lfs diff=lfs merge=lfs -text
